<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${name}">name</p>
    <p th:text="'Hello！ ' + ${name} + '!'">hello world</p>
    <p th:text="|Hello！ ${name}!|">hello world</p>
    <div class="showing date">
        <h2>格式化日期</h2>
        直接输出日期 ${now}:
        <p th:text="${now}"></p>
        默认格式化 ${#dates.format(now)}:
        <p th:text="${#dates.format(now)}"></p>
        自定义格式化 ${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}:
        <p th:text="${#dates.format(now,'yyyy-MM-dd HH:mm:ss')}"></p>
    </div>
    <!-- 判断该集合是否为空 -->
    <div th:if="${not #lists.isEmpty(users)}">
        <table>
            <thead>
            <tr>
                <th>用户id</th>
                <th>用户姓名</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <!-- 带状态遍历 -->
            <tr th:class="${status.even}?'even':'odd'" th:each="user,status:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
            <!-- 普通遍历 -->
            <!--<tr th:each="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <div>
        <h2>遍历 select </h2>
        <select size="3">
            <option th:each="p:${ps}" th:value="${p.id}"     th:selected="${p.id==currentProduct.id}"    th:text="${p.name}" ></option>
        </select>
    </div>
    <div class="showing">
        <h2>遍历 radio </h2>

        <input name="product" type="radio" th:each="p:${ps}" th:value="${p.id}"  th:checked="${p.id==currentProduct.id}"     th:text="${p.name}"  />

    </div>

    <div class="showing">
        <h2>条件判断</h2>
        <p th:if="${testBoolean}" >如果testBoolean 是 true ，本句话就会显示</p>
        <p th:if="${not testBoolean}" >取反 ，所以如果testBoolean 是 true ，本句话就不会显示</p>
        <p th:unless="${testBoolean}" >unless 等同于上一句，所以如果testBoolean 是 true ，本句话就不会显示</p>
        <p th:text="${testBoolean}?'当testBoolean为真的时候，显示本句话，这是用三相表达式做的':''" ></p>
    </div>

    <div class="showing">
        <h2>显示 转义和非转义的 html 文本</h2>
        <p th:text="${htmlContent}" ></p>
        <p th:utext="${htmlContent}" ></p>
    </div>

    <div class="showing">
        <h2>显示对象以及对象属性</h2>
        <p th:text="${currentProduct}" ></p>
        <p th:text="${currentProduct.name}" ></p>
        <p th:text="${currentProduct.getName()}" ></p>
    </div>

    <div class="showing" th:object="${currentProduct}">
        <h2>*{}方式显示属性</h2>
        <p th:text="*{name}" ></p>
    </div>

    <div class="showing">
        <h2>算数运算</h2>
        <p th:text="${currentProduct.age+999}" ></p>
    </div>
    <div>
        <p th:text="${#objects.nullSafe(null,default)} "></p>
    </div>

</body>
<style>
    .even{
        background-color: hotpink;
    }
    .odd{
        background-color: cornflowerblue;
    }
</style>
</html>